* {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:active {
  color: inherit;
}

.order-btn {
  background-color: #9356DC;
  border-radius: 25px;
  color: white;
}

.logo__img {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.homepage__img {
  height: 210px;
  width: 400px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bookbox {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.bookbox__city {
  background-color: lightcyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  align-items: center;
}

.howbox {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
}

.homepage {
  background-color: lightgray;
}

.menu__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightgrey;
}

.homepage__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 7px;
  border-radius: 30px;
  width: 100%;
  margin: 20px 0 25px 0;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howbox__card {
  background-color: #f2f2f2;
  padding: 10px;
  width: 75%;
  border-radius: 25px;
  margin: 0px 32px 25px 35px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__card {
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 7px;
  border-radius: 30px;
  width: 100%;
  margin: 20px 0 25px 0;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */