* {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:active {
  color: inherit;
}

.selection__btn {
  border-radius: 25px;
  color: white;
  padding: 15px;
  background-image: linear-gradient(-4deg, #9356DC, #FF79DA);
}

.logo__img {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.banner__img {
  height: 210px;
  width: 400px;
}

.howbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
}

.howbox__card {
  background-color: #f2f2f2;
  padding: 10px;
  width: 75%;
  border-radius: 25px;
  margin: 0px 32px 25px 35px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howbox__numholder {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  -webkit-transition: all 3000ms;
  transition: all 3000ms;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -30px;
}

.howbox__icon {
  display: inline-block;
  width: 20%;
  color: #9356DC;
}

.howbox__text {
  display: inline-block;
  white-space: nowrap;
  width: 70%;
  margin-left: -37px;
  padding: 12px;
}

.bookbox {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.bookbox__city {
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  align-items: center;
}

.bookbox__city--icon {
  padding-right: 15px;
}

.bookbox__btn {
  border-radius: 25px;
  color: white;
  padding: 15px;
  background-image: linear-gradient(-4deg, #9356DC, #FF79DA);
}

.navigation {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.navigation__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: relative;
  padding: 7px;
  border-radius: 30px;
  width: 100%;
  margin: 20px 0 25px 0;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.navigation__img {
  height: 211px;
  width: 417px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: -8px -7px 0 -7px;
}

.navigation__text {
  display: inline-block;
  white-space: nowrap;
  width: 70%;
}

.navigation__target {
  position: absolute;
  top: 85%;
  right: 8.5%;
  font-size: 1.5rem;
}

.navigation__new {
  position: absolute;
  top: 9%;
  left: 85.5%;
  margin: 0;
  padding: 2px 5px;
  background-color: #99E2D0;
}

.navigation__outline {
  position: absolute;
  opacity: 100%;
  -webkit-transition: opacity 3000ms;
  transition: opacity 3000ms;
}

.navigation__outline:hover {
  opacity: 0;
  -webkit-transition: opacity 3000ms;
  transition: opacity 3000ms;
}

.navigation__outline:hover::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  border-radius: 50%;
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
}

.navigation__solid {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 3000ms;
  transition: opacity 3000ms;
  position: absolute;
  background: linear-gradient(104deg, #9356DC, #FF79DA, #99E2D0);
}

.navigation__solid:hover {
  opacity: 100%;
  -webkit-transition: opacity 3000ms;
  transition: opacity 3000ms;
  background: linear-gradient(104deg, #9356DC, #FF79DA, #99E2D0);
}

.navigation__solid:hover::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  border-radius: 50%;
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
  background: linear-gradient(104deg, #9356DC, #FF79DA, #99E2D0);
  color: linear-gradient(104deg, #9356DC, #FF79DA, #99E2D0);
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-perspective: 200px;
          perspective: 200px;
}

.spinner__square {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;
  border-radius: 15%;
  background-image: linear-gradient(-4deg, #9356DC, #FF79DA);
  -webkit-animation: flip 2s linear 4s infinite;
          animation: flip 2s linear 4s infinite;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.spinner__square:nth-child(2) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  border-radius: 50%;
  opacity: 0.9;
  background: #9356DC;
}

.spinner__square:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  opacity: 0.7;
  background: #FF79DA;
}

.spinner__square:nth-child(4) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  opacity: 0.7;
  border-radius: 50%;
  background: #99E2D0;
}

.spinner__square:nth-child(5) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  opacity: 0.5;
  background: #9356DC;
}

.spinner__square:nth-child(6) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  opacity: 0.5;
  border-radius: 50%;
  background: #FF79DA;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0deg);
            transform: rotateX(180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0deg);
            transform: rotateX(180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}

@-webkit-keyframes load {
  0% {
    z-index: 100;
    opacity: 1;
  }
  100% {
    z-index: -10;
    opacity: 0;
  }
}

@keyframes load {
  0% {
    z-index: 100;
    opacity: 1;
  }
  100% {
    z-index: -10;
    opacity: 0;
  }
}

.heading__img {
  height: 211px;
  width: 417px;
}

.menu__card {
  border-radius: 30px;
  cursor: pointer;
  background-color: red;
  padding: 10px;
  width: 75%;
  border-radius: 25px;
  margin: 0px 32px 25px 35px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: auto;
  margin-bottom: auto;
  width: 85px;
  height: 85px;
}

body {
  position: relative;
}
/*# sourceMappingURL=main.css.map */