$Primary: #9356DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;
$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roberto', sans-serif;
$card-radius:30px;
$card-radius--curved: 0 25px 0 25px;
$color-ligtgrey: #ececec;

