.logo{

  &__img{
    width: 200px;
    margin: 0 auto;
    display: block;
  }
}

.homepage{

  &__img{
    height: 211px;
    width: 417px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: -8px -7px 0 -7px;
  }
}

.banner{
  &__img{
    height: 210px;
    width: 400px;
    object-fit: cover;
  }
}