.navigation{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__card{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    padding: 7px;
    border-radius: 30px;
    width: 100%;
    margin: 20px 0 25px 0;
    color: black;
    justify-content: space-between;
    align-self: center;
  }

  &__img{
    height: 211px;
    width: 417px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: -8px -7px 0 -7px;
  }

  &__text{
    display: inline-block;
    white-space: nowrap;
    width: 70%;
  }
  
    &__target {
    position: absolute;
    top: 85%;
    right: 8.5%;
    font-size: 1.5rem;
  }

  &__new {
    position: absolute;
    top: 9%;
    left: 85.5%;
    margin: 0;
    padding: 2px 5px;
    background-color: $Tertiary;
  }

  &__outline {
    position: absolute;
    opacity: 100%;
    transition: opacity 3000ms;
  }

  &__outline:hover{
    opacity: 0;
    transition: opacity 3000ms; 
  }

  &__outline:hover::after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 50%;
    transition: background-color 5s;
  }

  &__solid {
    position: absolute;
    opacity: 0;
    transition: opacity 3000ms;
    position: absolute;
    background: linear-gradient(104deg, $Primary, $Secondary, $Tertiary);
  }

  &__solid:hover {
    opacity: 100%;
    transition: opacity 3000ms; 
    background: linear-gradient(104deg, $Primary, $Secondary, $Tertiary); 
  }

  &__solid:hover::after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 50%;
    transition: background-color 5s;
    background: linear-gradient(104deg, $Primary, $Secondary, $Tertiary);
    color: linear-gradient(104deg, $Primary, $Secondary, $Tertiary);
  }
  
}