.homepage{

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__card {
    color: black;
    background-color: white;
    padding: 3px;
    border-radius: 17px;
  }

  
}