.logo{
  margin-right: auto;
  margin-bottom: auto;
  width: 85px;
  height: 85px;
}

body{
  position: relative;
}




// .howbox{
//   &__text {
//     display: inline-block;
//     white-space: nowrap;
//     width: 70%;
//   }
// }


// .navigation{

//   &__wrap {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//   }

//   &__text{
//     display: inline-block;
//     white-space: nowrap;
//     width: 70%;
//   }
// }